{% extends "base.html" %}
{% load staticfiles %}
{% load imagekit %}

{% block css %}
	<link type="text/less" rel="stylesheet" href="{% static 'css/event.less' %}"/>
{% endblock %}

{% block content %}
	<div class="row main-row">
		<div class="col-md-8 col-md-offset-2">
			<div class="row register-main-title">
				{% if usedate %}
					<h1> Eventer den {{day}}/{{month}}/{{year}}</h1>
				{% else %}
					<h1> Eventer</h1>
				{% endif %}
			</div>
		{% if events %}
			{% for event in events %}
				<div class="row event-frame">
					<a href="{{event.get_absolute_url}}">
					<div class="col-md-3 remove-padding">
						{% if event.image %}
							{% thumbnail '0x200' event.image.image -- alt="" class="img-responsive" style="width: 100%; height: auto;" %}
						{% endif %}
					</div>
					</a>
					<div class="col-md-9">
						<a href="{{event.get_absolute_url}}">
						<div class="row text-dark headline-text" style="padding-left: 5px;">
							<h4>{{event.name|linebreaks}}</h4>
						</div>
						</a>
						<div class="row">
							<div class="col-md-6 text-secondary-dark">
								<div class="row textfield-small" style="padding-left: 5px;">
									Start date: <b>{{event.start_date}}</b>
								</div>
								<div class="row textfield-small" style="padding-left: 5px;">
									End date: <b>{{event.end_date}}</b>
								</div>
							</div>
							<div class="col-md-3 text-secondary-dark">
								<div class="row textfield-small" style="padding-left: 5px;">
									{% if event.get_max_number_of_free_spots %}
										Free spots: <b>{{event.get_number_of_free_spots}} </b>
									{% else %}
										This event is a special snowflake, read the event article for registration details!
									{% endif %}
								</div>
								<div class="row textfield-small" style="padding-left: 5px;">
									{% if event.cost != 0 %} 
										Cost: <b>{{event.cost}}kr</b> 
									{% else %}
										Cost: <b>Free!</b> 
									{% endif %}
								</div>
							</div>
							<div class="col-md-3 textfield-small text-secondary-dark" style="padding-left: 5px;">
								{% if user.is_authenticated %}
									{% if event.is_registered %}
										{% if event.check_if_cancellation_availible %}
											<form action="{{event.get_unregistration_url}}">
												<button type="submit" class="btn btn-success">Unregister</button>
											</form>
										{% else %}
											<p class="text-secondary-dark"> It's too late too unregister for this event! </p>
										{% endif %}
									{% else %}
										{% if event.get_max_number_of_free_spots %}
											{% if event.get_number_of_free_spots %}
												{% if event.check_if_registration_started %}
													{% if event.check_if_registration_not_closed %}
														<form action="{{event.get_registration_url}}">
															<button type="submit" class="btn btn-success btn-margin-top">Register</button>
														</form>
													{% else %}
														<p class="text-secondary-dark"> Registration is closed! </p>
													{% endif %}
												{% else %}
													<p class="text-secondary-dark"> Registration is not open yet! </p>
												{% endif %}
											{% else %}
												<p class="text-secondary-dark"> This event is full! </p>
											{% endif %}
										{% else %}
											<p class="text-secondary-dark"> Click the event for more information! </p>
										{% endif %}
									{% endif %}
									{% if event.should_show_attendees %}
										<form action="{{event.get_attendees_url}}">
											<button type="submit" class="btn btn-success btn-margin-top">Attendees</button>
										</form>
									{% endif %}
									<form action="{{event.get_absolute_url}}">
										<button type="submit" class="btn btn-success btn-margin-top" style="margin-bottom: 10px;">Details</button>
									</form>
								{% else %}
									<b>Login to register for this event!</b>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h3 class="text-secondary-dark">There are currently no events setup for registration, more to come in the future!</h3>
		{% endif %}
		</div>
		{% if is_paginated %}
	        <div class="pagination col-md-12">
	            <div class="page-links col-md-12">
	            	<div class="row">
	            		<div class="col-md-1 col-md-offset-4 page-buttons">
		                	{% if page_obj.has_previous %}
			                    <a href="/events/{{ page_obj.previous_page_number }}">
			                    <button type="" class="btn btn-success btn-margin-top" style="margin-bottom: 10px;">Forrige</button></a>
		                	{% endif %}
		                </div>
		                <div class="page-current col-md-2 text-secondary-dark">
		                    Side {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}
		                </div>
		                <div class="col-md-1 page-buttons">
		                	{% if page_obj.has_next %}
		                    	<a href="/events/{{ page_obj.next_page_number }}"><button type="" class="btn btn-success btn-margin-top" style="margin-bottom: 10px;">Neste</button></a>
		                	{% endif %}
		                </div>
		            </div>
	            </div>
	        </div>
	    {% endif %}
	</div>

{% endblock %}