{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
	<link type="text/less" rel="stylesheet" href="{% static 'css/index.less' %}"/>
{% endblock %}

{% block content %}
	<div class="row middle-row">

		<div class="col-md-4">
			<div class="row">
		        <img class="main-logo img-responsive" href="/" src="{% static 'img/the_force.png' %}" alt="Logo">
		    </div>

		    <div class="row">
		        <div class="col-md-10 col-md-offset-1 text-dark join-text">
		        	<h1>Wanna join the crew? Register <a href="/" class="main-links">here!</a></h1>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-md-10 col-md-offset-2 text-dark join-text">
		        	<h1>Who are we? Read all about us <a href="/" class="main-links">here!</a></h1>
		        </div>
		    </div>

	    </div>

        <div class="col-md-offset-1 col-md-7 frames">
        	<div class="row text-secondary-dark news-tag">
        		Latest news!
        	</div>
        	<div class="row no-gutter top-row-pad">
        		<div class="col-md-11 index-frame">
	        		<a href="{{news.0.get_absolute_url}}">
	        			<div class="row">
		        			<div class="col-md-4 remove-padding">
		        				<img class="img-responsive" href="/" src="{{news.0.image.url}}" alt="">
		        			</div>
		        			<div class="col-md-8">
		        				<div class="row textfield" style="padding-left: 10px;">
		        					<h1>{{news.0.headline|linebreaks}}</h1>
		        				</div>
		        				<div class="row textfield" style="padding-left: 10px;">
		        					{{news.0.lead|linebreaks}}
		        				</div>
		        			</div>
	        			</div>
        			</a>
        		</div>
        	</div>
        	<div class="row no-gutter">
        		<div class="col-md-5 index-frame">
        			<a href="{{news.1.get_absolute_url}}">
	        			<div class="row">
	        				<div class="col-md-5 remove-padding">
		        				<img class="img-responsive" href="/" src="{{news.1.image.url}}" alt="">
		        			</div>
		        			<div class="col-md-7">
		        				<div class="row textfield" style="padding-left: 5px;">
		        					<h4>{{news.1.headline|linebreaks}}</h4>
		        				</div>
		        				<div class="row textfield-small" style="padding-left: 5px;">
		        					{{news.1.lead|linebreaks}}
		        				</div>
		        			</div>
	        			</div>
	        		</a>
        		</div>

        		<div class="col-md-5 index-frame">
        			<a href="{{news.2.get_absolute_url}}">
	        			<div class="row">
	        				<div class="col-md-5 remove-padding">
		        				<img class="img-responsive" href="/" src="{{news.2.image.url}}" alt="">
		        			</div>
		        			<div class="col-md-7">
		        				<div class="row textfield" style="padding-left: 5px;">
		        					<h4>{{news.2.headline|linebreaks}}</h4>
		        				</div>
		        				<div class="row textfield-small" style="padding-left: 5px;">
		        					{{news.2.lead|linebreaks}}
		        				</div>
		        			</div>
	        			</div>
        			</a>
        		</div>
        	</div>
        </div>

    </div>
{% endblock content %}