{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
	<link type="text/less" rel="stylesheet" href="{% static 'css/index.less' %}"/>
	<link type="text/less" rel="stylesheet" href="{% static 'css/calendar.less' %}"/>
{% endblock %}

{% block content %}
	<div class="row middle-row">
		<div class="col-md-5">
			<div class="row">
				{% if user.is_authenticated %}
					<div class="row">
						<div class="col-md-10 col-md-offset-1 calendar remove-only-padding" id="calendar-div">
							{{ calendar }}
						<div class="row">
							<div class="col-sm-9 welcome-message">
								{% if user.first_name %}
				                    Welcome back <a class="profile-link" href="/users/{{user.id}}/profile/">{{ user.first_name }}!</a>
				                {% else %}
				                    Welcome back <a class="profile-link" href="/users/{{user.id}}/profile/">{{ user.username }}!</a>
				                {% endif %}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-9 welcome-info">
								Check out the calendar for information about future events!
							</div>
						</div>
					</div>
					</div>
					
				{% else %}
		        	<img class="main-logo img-responsive" href="/" src="{% static 'img/ntnui_logo_2.png' %}" alt="Logo">
		        	<h1 class="logo-text">Padling</h1>
		    	{% endif %}
		    </div>

		    {% if user.is_authenticated %}
		    {% else %}
		    <div class="row">
		        <div class="col-md-10 col-md-offset-1 text-dark join-text">
		        	<h1>Wanna join the crew? Register <a href="/users/register/" class="main-links">here!</a></h1>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-md-10 col-md-offset-2 text-dark join-text">
		        	<h1>Follow us on <a href="https://www.facebook.com/groups/ntnuipadling/" class="main-links" target="_blank">Facebook!</a></h1>
		        </div>
		    </div>
		    {% endif %}

	    </div>

        <div class=" col-md-7 frames">
        	<div class="row text-secondary-dark news-tag">
        		Latest news!
        	</div>
        	<div class="row no-gutter top-row-pad">
        		<div class="col-md-11 index-frame">
	        		<a href="{{latest.get_absolute_url}}">
	        			<div class="row">
	        				{% if latest.image %}
		        			<div class="col-md-4 remove-padding">
		        				<img class="img-responsive" href="/" src="{{latest.image.url}}" alt="">
		        			</div>
		        			{% endif %}
		        			<div class="col-md-8">
		        				<div class="row textfield headline-text" style="padding-left: 10px;">
		        					<h1>{{latest.headline|linebreaks}}</h1>
		        				</div>
		        				<div class="row textfield" style="padding-left: 10px;">
		        					{{latest.lead|linebreaks}}
		        				</div>
		        			</div>
	        			</div>
        			</a>
        		</div>
        	</div>
        	<div class="row no-gutter">
        		{% for article in news %}
        		<div class="col-md-5 index-frame">
        			<a href="{{article.get_absolute_url}}">
	        			<div class="row">
	        				{% if article.image %}
	        				<div class="col-md-5 remove-padding">
		        				<img class="img-responsive" href="/" src="{{article.image.url}}" alt="">
		        			</div>
		        			{% endif %}
		        			<div class="col-md-7">
		        				<div class="row textfield headline-text" style="padding-left: 5px;">
		        					<h4>{{article.headline|linebreaks}}</h4>
		        				</div>
		        				<div class="row textfield-small" style="padding-left: 5px;">
		        					{{article.lead|linebreaks}}
		        				</div>
		        			</div>
	        			</div>
	        		</a>
        		</div>
        		{% endfor %}
        	</div>
        </div>

    </div>
{% endblock content %}


{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		$( "#calendar-div" ).slideDown( "slow", function() {
		// Animation complete.
		});
	});
</script>
{% endblock %}