{% extends "base.html" %}
{% load staticfiles %}
{% load imagekit %}

{% block css %}
    <link type="text/less" rel="stylesheet" href="{% static 'css/index.less' %}"/>
    <link type="text/less" rel="stylesheet" href="{% static 'css/calendar.less' %}"/>
{% endblock %}

{% block content %}
    <div class="row middle-row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-md-offset-2 main-col">
            <div class="row instagram-tag">
                <div class="col-md-12 text-secondary-dark">
                    Siste fra <a href="/instagram/">#ntnuipadling</a> på instagram
                </div>
                <div class="col-md-12">
                     <div class="col-md-12 instagram-frame">
                            <!-- SnapWidget -->
                        <script src="http://snapwidget.com/js/snapwidget.js"></script>
                        <iframe src="http://snapwidget.com/in/?h=bnRudWlwYWRsaW5nfGlufDYwfDV8MXx8eWVzfDN8bm9uZXxvblN0YXJ0fHllc3x5ZXM=&ve=250815" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
                    </div>
                </div>
            </div>
            <div class="row news-container">
                <div class="col-md-12 text-secondary-dark news-tag">
                    Siste nyheter
                </div>
                {% for article in articles %}
                 <div class="col-md-12">
                    <a href="{{article.get_absolute_url}}">
                        <div class="row news-frame">
                            {% if article.image %}
                            <div class="col-md-4 remove-padding">
                                {% thumbnail '0x200' article.image.image -- alt="" href="/" class="img-responsive" style="width: 100%;" %}
                            </div>
                            {% endif %}
                            <div class="col-md-8">
                                <div class="row textfield headline-text" style="padding-left: 10px;">
                                    <h1>{{article.headline|linebreaks}}</h1>
                                </div>
                                <div class="row textfield text-secondary-dark" style="padding-left: 10px;">
                                    {{article.lead|linebreaks}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 side-column visible-md visible-lg">
            <div class="row">
                {% if user.is_authenticated %}
                {% else %}
                        <div class="col-sm-12 col-md-12 col-lg-12 welcome-message">
                            Lyst til å bli med i padlegruppa?
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 welcome-button"><a href="/users/register/" class="main-links"><button type="button" class="btn btn-success">Registrer deg her</button></a></div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <p class="ads-tag">Sponsorer</p>
                </div>
            </div>

            {% for ad in ads %}
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <a href="{{ad.url}}">
                            {% thumbnail '0x200' ad.image.image -- alt="" href="/" class="img-responsive ad-image-tag" %}
                        </a>
                    </div> 
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <a href="https://www.facebook.com/groups/ntnuipadling/" target="_blFBLogoank">
                        {% if frontpageData %}
                            {% if frontpageData.facebookImage %}
                                {% thumbnail '0x100' frontpageData.facebookImage.image -- alt="" href="/" class="facebook-logo" %}
                            {% else %}
                                <div class="facebook-text text-secondary-dark">
                                    Finn oss på facebook!
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="facebook-text text-secondary-dark">
                                Finn oss på facebook!
                            </div>
                        {% endif %}
                    </a>
                </div> 
            </div>
        </div>
    </div>
{% endblock content %}


{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        $( "#calendar-div" ).slideDown( "slow", function() {
        // Animation complete.
        });
    });
</script>
{% endblock %}