@import "palette.less";

.header{
	background-color: @primary-hue-dark;
	height: @header-height;
	overflow: hidden;
}

.footer{
	background-color: @primary-hue-light;
	height: @footer-height;
	overflow: hidden;
}

