@import "palette.less";

.main-logo {
	width: auto;
	height: 60%;
    vertical-align: middle;
    margin-left: 50px;

}

.align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.middle-row{
	overflow: hidden;
	background-color: @primary;
	height: @mainrow-height;
}