@import "vars.less";
@import "text.less";

.main-logo {
	width: 60%;
	height: auto;
    vertical-align: middle;
    margin-left: 110px;
    margin-top: 60px;
    margin-bottom: 10px;

}

.logo-text {
	text-align: center;
	font-size: 4em;
	margin-bottom: 40px;
}

.middle-row{
	overflow: hidden;
	background-color: @background-pleasant-neutral;
	height: @mainrow-height;
	margin-top: @header-height;
}

.index-frame{
	background-color: @frame-color;
	margin: @frame-padding;
	box-shadow: 0 1px 7px;
	a{
		text-align: left;
		.text-secondary-dark;
	}

	a:hover{
		text-decoration: none;
	}

	a:visited{
		text-decoration: none;
	}

	a:active{
		text-decoration: none;
	}

	a:link{
		text-decoration: none;
	}
}

.index-frame:hover{
		box-shadow: 0 4px 30px;
}


.top-row-pad{
	margin-top: 10px;
	border-top: 1px solid @accent;
}

.news-tag{
	font-size: 2.6em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.main-links{
	color: @primary;
}

.main-links:hover{
	color: primary;
	opacity: 1!important;
	text-decoration: none;
}

.remove-padding{
   padding: 0 !important;
   margin: 0 !important;
}

.remove-only-padding{
	padding: 0 !important;
}

.headline-text{
	color: @primary;
	margin-top: 4px;
	margin-bottom: 1px;
	word-wrap: normal;
	p{
		margin-bottom: 2px;
	}
}

.textfield{
	margin-top: 4px;
	margin-bottom: 1px;
	word-wrap: normal;
	p{
		margin-bottom: 5px;
	}
}

.textfield-small{
	word-break: normal;
	font-size: 0.8em;
}

h4{
	margin: 0px;
}	

h1{
	margin: 0px;
}	

.join-text{
	margin-bottom: 17px;
}

.welcome-message{
	box-shadow: 0 1px 7px;
	font-size: 2.5em;
	background-color: @primary-hue-dark;
	.text-light;
	a{
		text-align: left;
		color: @accent;
	}

	a:hover{
		text-decoration: none;
	}

	a:visited{
		text-decoration: none;
	}

	a:active{
		text-decoration: none;
	}

	a:link{
		text-decoration: none;
	}
}

.welcome-info{
	box-shadow: 0 1px 7px;
	margin-top: 4px;
	font-size: 1.5em;
	background-color: @primary;
	.text-light;
	a{
		text-align: left;
		color: @accent;
	}

	a:hover{
		text-decoration: none;
	}

	a:visited{
		text-decoration: none;
	}

	a:active{
		text-decoration: none;
	}

	a:link{
		text-decoration: none;
	}
}