@import "palette.less";

.text-divider-dark{
	color: #000000;
	opacity: 0.12;
}

.text-disabled-dark{
	color: #000000;
	opacity: 0.26;
}

.text-secondary-dark{
	color: #000000;
	opacity: 0.54;
}

.text-dark{
	color: #000000;
	opacity: 0.87;
}

.text-divider-light{
	color: #FFFFFF;
	opacity: 0.12;
}

.text-disabled-light{
	color: #FFFFFF;
	opacity: 0.3;
}

.text-secondary-light{
	color: #FFFFFF;
	opacity: 0.7;
}

.text-light{
	color: #FFFFFF;
	opacity: 1;
}