@primary: #03A9F4;
@primary-hue-light: #B3E5FC;
@primary-hue-dark: #0277BD;
@accent: #FFB74D;

@bacground-pleasant-neutral: #F5F5F5;

@winheight:`$(window).height()`;
@framesize: 200px;
@frame-padding: 10px;
@frame-color: @bacground-pleasant-neutral;

@header-height: 60px;
@mainrow-height: calc(~"@{winheight}px" - @header-height);
@footer-height: @mainrow-height;

@arrow-size: 40px;