{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
	<link type="text/less" rel="stylesheet" href="{% static 'css/user_auth.less' %}"/>
	<link type="text/less" rel="stylesheet" href="{% static 'css/text.less' %}"/>
{% endblock %}

{% block toggle_login %}{% endblock %}


{% block content %}
	<div class="row mainrow-auth">
		<div class="col-md-6 col-md-offset-3 text-secondary-dark">
			<h1>Brukernavnet eller passordet var feil, skriveleif?</h1>
			<h1>Glemt passordet? Kontakt <a href="/users/board">websjef</a> så får du nytt!</h1> 
			<h2>Har du ingen bruker enda? Registrer deg <a href="/users/register/">her!</a></h2>
		</div>
	</div>
{% endblock %}