{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
	<link type="text/less" rel="stylesheet" href="{% static 'css/tide.less' %}"/>
{% endblock %}

{% block content %}
	<div class="row tide-main">
		<div class="col-md-3">
			<iframe width="315" scrolling="no" height="365" frameborder="0" allowfullscreen src="http://kartverket.no/Templates/Pages/SeHavNiva/SeHavNivaLocation.aspx?id=7098&cityid=9000021&city=Trondheim&widget=true"></iframe>
		</div>
		<div class="col-md-5">
			<h1>A detailed forecast can be found <a href="http://kartverket.no/Templates/Pages/SeHavNiva/SeHavNivaLocation.aspx?id=7098&cityid=9000021&city=Trondheim&widget=true"> here! </a></h1>
		</div>
	</div>
{% endblock content %}