{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
	<link type="text/less" rel="stylesheet" href="{% static 'css/event.less' %}"/>
{% endblock %}

{% block content %}
	<div class="row main-row">
		<div class="col-md-6 col-md-offset-3">
			{% if event.eventregistrar_set.all %}
				{% for attendee in event.eventregistrar_set.all %}
					<div class="row">
						{{attendee.paddle_user.user.first_name}} {{attendee.paddle_user.user.last_name}}
						Number of car seats: {{attendee.car_seats}}
					</div>
				{% endfor %}
			{% else %}
				There are no registered users for this event yet :(:(:(
			{% endif %}
		</div>
	</div>
{% endblock %}