{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
	<link type="text/less" rel="stylesheet" href="{% static 'css/event.less' %}"/>
{% endblock %}

{% block content %}
	<div class="row main-row">
		<div class="col-md-8 col-md-offset-2">
		{% for event in events %}
			<div class="row event-frame">
				<a href="{{event.get_absolute_url}}">
				{% if event.image %}
				<div class="col-md-3 remove-padding">
					<img class="img-responsive" href="/" src="{{event.image.url}}" alt="">
				</div>
				{% endif %}
				</a>
				<div class="col-md-9">
					<a href="{{event.get_absolute_url}}">
					<div class="row text-dark headline-text" style="padding-left: 5px;">
						<h4>{{event.name|linebreaks}}</h4>
					</div>
					</a>
					<div class="row">
						<div class="col-md-6 text-secondary-dark">
							<div class="row textfield-small" style="padding-left: 5px;">
								Start date: <b>{{event.start_date}}</b>
							</div>
							<div class="row textfield-small" style="padding-left: 5px;">
								End date: <b>{{event.end_date}}</b>
							</div>
						</div>
						<div class="col-md-3 textfield-small text-secondary-dark" style="padding-left: 5px;">
							<div class="row">
								Free spots: <b>{{event.get_number_of_free_spots}} </b>
							</div>
							<div class="row">
								{% if event.cost != 0 %} 
									Cost: <b>{{event.cost}}kr</b> 
								{% else %}
									Cost: <b>Free!</b> 
								{% endif %}
							</div>
						</div>
						<div class="col-md-3 textfield-small text-secondary-dark" style="padding-left: 5px;">
							{% if user.is_authenticated %}
								{% if event.is_registered %}
									<form action="{{event.get_unregistration_url}}">
										<button type="submit" class="btn btn-success">Unregister</button>
									</form>
								{% else %}
									{% if event.get_number_of_free_spots %}
										<form action="{{event.get_registration_url}}">
											<button type="submit" class="btn btn-success btn-margin-top">Register</button>
										</form>
									{% endif %}
								{% endif %}
								<form action="{{event.get_attendees_url}}">
									<button type="submit" class="btn btn-success btn-margin-top">Attendees</button>
								</form>
								<form action="{{event.get_absolute_url}}">
									<button type="submit" class="btn btn-success btn-margin-top" style="margin-bottom: 10px;">Details</button>
								</form>
							{% else %}
								<b>Login to register for this event!</b>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>

{% endblock %}